- if model.errors[target].any?
  %ul.error-messages
    - model.errors[target].each do |message|
      %li.error-messages__item
        = I18n.t target, scope: [:activerecord, :attributes, scope]
        = message
