* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #3CCACE;
}

.main_box p{
  font-size: 18px;
  line-height: 1.5;
}

.main_box ul.photo_box{
  display: flex;
  flex-wrap: wrap;
}


table th{
  border: solid 1px #dedede;
  background-color: #eee;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.category{
  height: 130px; 
}

table th, table td {
  border: solid 1px #dedede;
  padding: 10px 20px;
  font-size: 14px;
}

table{
  width: 100%;
}

ul.edit_destory{
  display: flex;
  justify-content: center;
}

ul.bottom_button{
  display: flex;
  justify-content: space-between;
}

.main_box{
  background-color:#f8f8f8 ;
  padding-bottom: 40px;
  padding-top: 40px;
  .top_content{
    background-color: #fff;
    margin: 0px auto;
    width: 700px;
    &__product_box{
      padding: 24px 40px 40px;
      &__title{
        text-align: center;
        padding-top: 24px;
        font-weight: bold;
        font-size: 24px;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      }
      &__image{
        margin: 16px 10px 24px;
        background-color: #fff;
        &--main_image{
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
        &--image_list{
          height: 90px;
          width: 120px;
          object-fit: cover;
        }
      }
      &__price{
        text-align: center;
        margin-bottom: 24px;
        &__info{
          font-weight: bold;
          font-size: 46px;
        }
        &__tax{
          font-size: 16px;
        }
      }
      &__text{
        margin-bottom: 30px;
        word-break: break-all;
      }
      &__info{
        margin-bottom: 46px;
      }
      &__buy_button{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        &--edit_button{
          font-size: 18px;
          margin-right: 30px;
          background-color: #3CCACE;
          padding: 15px 20px;
          border-radius: 100px;
          border: 1px solid #3CCACE;
          color: #fff;
        }
        &--destroy_button{
          font-size: 18px;
          margin-left: 30px;
          background-color: #3CCACE;
          padding: 15px 20px;
          border-radius: 100px;
          border: 1px solid #3CCACE;
          color: #fff;
        }
        .disabled-button {
          font-size: 18px;
          background-color: #888;
          padding: 15px 100px;
          border-radius: 100px;
          border: 1px solid #888;
          color: #fff;
          pointer-events: none;
        }
        &--promote_page{
          font-size: 18px;
          background-color: #3CCACE;
          padding: 15px 100px;
          border-radius: 100px;
          border: 1px solid #3CCACE;
          color: #fff;
        }
      }
      &__bottom{
        display: flex;
        justify-content: space-between;
        &--favorite_button{
          border: solid #ffb340 1px;
          border-radius: 100px;
          padding: 8px;
          font-size: 15px;
        }
        &--warming_button{
          border: solid #333 1px;
          margin-left: 310px;
          padding: 8px;
          font-size: 15px;
          border-radius: 10px;
        }
      } 
    }
  }
}