$mainBlack: #333;
$mainWhite: #fff;
$mainGray: #ccc;
$mainLightGray: #eee;

@mixin productStatus {
  display: inline-block;
  margin: 0 0 0 7px;
  padding: 2px 7px;
  border-radius: 3px;
  color: $mainWhite;
  font-size: 12px;
  font-weight: bold;
}

@mixin tabsDesign {
  background-color: $mainWhite;
  border: solid 2px;
  border-color: #3CCACE $mainWhite $mainWhite $mainWhite
}

@mixin tabsShape {
  height: 70px;
  width: calc(700px/2);
  background-color: $mainLightGray;
  float: left;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  &:hover {
    opacity: 0.7;
  }
}

@mixin between {
  display: flex;
  justify-content: space-between;
}


.main__content {
  min-height: auto;
  width: 700px;
  position: absolute;
  top: 100px;
  margin: 50px 0 0 520px;
  
  .users__info {
    height: 210px;
    width: 700px;
    background-color: $mainWhite;
    position: relative;
    list-style: none;
    &__image {
      &--background {
        opacity: 0.7;
        filter: blur(3px);
      }
      &--profile__icon {
        top: 20%;
        left: 44%;
        position: absolute;
        border-radius: 50%;
      }
    &__name {
      top: 60%;
      left: 41%;
      position: absolute;
      color: #000;
      text-align: center;
      text-decoration: none;
      &--title {
        font-weight: bold;
        font-size: 14px;
      }
      .users__products {
        display: flex;
        padding-top: 7px;
        font-size: 13px;
        &--status {
          display: flex;
          padding-right: 20px;
          &__num {
            padding-left: 10px;
            font-weight: bold;
          }
        }
        &--number {
          display: flex;
          &__num {
            padding-left: 10px;
            font-weight: bold;
          }
        }
      }
    } 
  }
}

  .notification__tabs {
    background-color: $mainWhite;
    
    input[name="tabs1"] {
      display: none;
    }

    input[name="tabs1"]:checked + .tab_item {
      @include tabsDesign;
    }

    .tab_item {
      @include tabsShape;
    }

    #news:checked ~ #news, #todo:checked ~ #todo {
      display: block;
    }

    #news{
      height: 80px;
      border-bottom: solid 0.1px $mainLightGray;
      font-size: 15px;
      &:hover{
        background-color: #f5f5f5;
      }
    }

    #todo {
      color: $mainGray;
      text-align: center;
      font-size: 16px;
      padding-bottom: 85px;
      font-weight: bold;
    }

    .tab__content {
      display: none;
      clear: both;
      overflow: hidden;
      list-style: none;
      &__description { 
        @include between;
        min-height: 80px;
        padding: 15px;
        color: $mainBlack;
        &__news {
          float: right;
          margin-left: 15px;
          i {
            color: #696969;
            margin-top: 5px;
            font-size: 13px;
          }
        }
        &__more {
          height: 50px;
          width: 100%;
          background-color: $mainLightGray;
          margin: 0 auto;
          color: $mainBlack;
          line-height: 50px;
          text-align: center;
          .btn-icon {
            display: block;
            color: $mainBlack;
            text-decoration: none;
            &:hover {
              background-color: $mainWhite;
            }
          }
        }
      }
    }
  }

  .trading{
    &__title {
      background-color: #f0ffff;
      padding: 0 16px;
      font-size: 16px;
      line-height: 72px
    }

    &__tabs {
      input[name="tabs2"] {
        display: none;
      }

      input[name="tabs2"]:checked + .tab_exhibition {
        @include tabsDesign; 
      }

      .tab_exhibition {
        @include tabsShape;
      }

      #now_dealing:checked ~ .content1, #past_transaction:checked ~ .content2 {
        display: block;
      }

      .tab__content {
        display: none;
        clear: both;
        overflow: hidden;
        list-style: none;
      
        &__list {
          background-color: $mainWhite;
          &__products {
            border-bottom: solid 0.1px $mainLightGray;
            display: flex;
            &--image {
              padding: 15px;
            }
            &--text {
              font-size: 14px;
              padding-top: 15px;
              &__name {
                padding: 0 0 10px 10px;
                color: $mainBlack;
              }
              &__btn {
                display: flex;
                color: #808080;
                &--favorite__btn {
                  padding-right: 8px;
                }
                &--comment__btn {
                  padding-right: 8px;
                }
                &--status {
                  &__dealing {
                    @include productStatus;
                    background-color: #3CCACE;
                  }
                  &__completed {
                    @include productStatus;
                    background-color: #888;
                  }
                }
              }
            }
          }
        }
        &__noproducts {
          height: 300px;
          background-color: $mainWhite;
          padding-top: 100px;
          color: $mainGray;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}