-# = render "products/header"
-# = render 'users/mypage_side_nav'

.purchase__done__container
  .purchase__done__container--head
  %h2 購入が完了しました

  .purchase__done__container--product__box
    .purchase__done__container--product__box--image
      = image_tag(@product.product_images.first.url, size: "80x80", class: "product__image")
    .purchase__done__container--product__box--name
      = @product.name
    .purchase__done__container--product__box--price
      = number_to_currency(@product.price, format: "%u%n", unit: "¥", precision: 0)

.back__to__top
  = link_to "トップページへもどる", root_path

-# = render 'products/footer'