.main-header
  main-header
.main
  .main__top
    main__top
  .main__introduction
    main__introduction
  .main__publicity
    main__publicity
  .main__feature
    main__feature
  .main__newproducts
    main__newproducts
  .main__brand
    main__brand
  .main__banner
    banner
  .main__footer
    footer