$signup_wallpaper_color: #FAFAFA;
$signup_disagled_color:  #AAAAAA;
$signup_completed_color: #3CCACE;
$signup_header_width: 700px;
$signup_header_height: 150px;
$signup_content_width: 700px;
$signup_form_width: 300px;

.signup-container {
  width: 100vw;
  height: 100vh;
  background-color: $signup_wallpaper_color;
  overflow: scroll;
}

.signup-header {
  width: $signup_header_width;
  height: $signup_header_height;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__logo:hover {
    opacity: 0.5;
  }
}

.progress-bar {
  display: flex;
  margin: 0 0 1rem 0;
  justify-content: space-between;
  %__item {
    flex: 2;
    width: 80px;
    position: relative;
    padding: 0 0 14px 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    white-space: nowrap;
    overflow: visible;
    min-width: 0;
    text-align: center;
    border-bottom: 2px solid $signup_disagled_color;
    &:first-child {
      flex: 1;
      &:before {
        left: 0;
      }
    }
    &:last-child {
      flex: 1;
      text-align: right;
      &:before {
        right: 0;
        left: auto;
      }
    }
    &:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      left: calc(50% - 7px);
      bottom: -7px;
      z-index: 3;
      transition: all .2s ease-in-out;
    }
  }
  &__item {
    @extend %__item;
    color: $signup_disagled_color;
    &:before {
      background-color: $signup_disagled_color;
      border: 2px solid $signup_wallpaper_color;
    }
    &--complete, &--active {
      @extend %__item;
      color: $signup_completed_color;
      &:not(:first-child):after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        bottom: -2px;
        left: -50%;
        z-index: 2;
        border-bottom: 2px solid $signup_completed_color;
      }
      &:last-child:after {
        width: 200%;
        left: -100%;
      }
    }
    &--complete:before {
      background-color: $signup_completed_color;
      border: 2px solid $signup_wallpaper_color;
    }
    &--active:before {
      background-color: white;
      border: 2px solid $signup_completed_color;
    }
  }
}

.signup-content {
  width: $signup_content_width;
  margin: 0 auto;
  background-color: white;
  padding: 24px 0;
}

.signup-title {
  padding: 32px 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
}

.signup-form {
  &__field, &__actions {
    width: $signup_form_width;
    margin: 24px auto;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__postcode-field, &__prefecture-field {
    width: 48%;
  }
  %__label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
  }
  &__label {
    @extend %__label;
    &--required {
      @extend %__label;
      &:after {
        content: "必須";
        font-size: 10px;
        color: white;
        background-color: $signup_completed_color;
        margin-left: 8px;
        padding: 4px;
        border-radius: 2px;
      }
    }
  }
  &__birthdate-field {
    width: $signup_form_width;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  %__input-field {
    height: 48px;
    padding: 0 8px;
    line-height: 48px;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
  }
  &__text-field, &__email-field, &__password-field {
    @extend %__input-field;
    width: 100%;
  }
  &__select-year {
    @extend %__input-field;
    width: calc(#{$signup_form_width} * 0.3);
  }
  &__select-month, &__select-day {
    @extend %__input-field;
    width: calc(#{$signup_form_width} * 0.25);
  }
  &__select-postcode, &__select-prefecture {
    @extend %__input-field;
    width: 100%;
  }
  &__submit {
    width: 100%;
    height: 48px;
    background-color: $signup_completed_color;
    color: white;
    line-height: 48px;
    text-align: center;
    border-width: 0;
    cursor: pointer;
  }
  &__checkbox-field {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__checkbox {
    width: 16px;
    height: 16px;
    margin: 2px;
  }
  &__error-messages {
    color: red;
    text-align: center;
  }
}

.error-messages {
  color: red;
}

.registration {
  text-align: center;
  font-size: 14px;
  width: $signup_content_width;
  padding: 24px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid $signup_wallpaper_color;
  %__button {
    width: $signup_form_width;
    height: 48px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: 8px auto;
    position: relative;
    &:before {
      @extend %fa-icon;
      font-size: 20px;
      position: absolute;
      left: 16px;
      line-height: 48px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__button {
    @extend %__button;
    background-color: $signup_completed_color;
    color: white;
    &--email {
      @extend %__button;
      background-color: $signup_completed_color;
      color: white;
      &:before {
        @extend .far;
        content: fa-content($fa-var-envelope);
      }
    }
    &--facebook {
      @extend %__button;
      background-color: #385185;
      color: white;
      &:before {
        @extend .fab;
        content: fa-content($fa-var-facebook);
      }
    }
    &--twitter {
      @extend %__button;
      background-color: #1DA1F2;
      color: white;
      &:before {
        @extend .fab;
        content: fa-content($fa-var-twitter);
      }
    }
    &--google {
      @extend %__button;
      background-color: white;
      color: black;
      border: 1px solid black;
      &:before {
        content: '';
        display: inline-block;
        background-image: url('google_logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width:  20px;
        height: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }
  }
}