.wrapper
  .form
    = form_for [@product] do |f|
      #image-box
        = f.fields_for :product_images do |image|
          %div.js-file_group{data: {index: "= image.index"}}
            = image.label :product_image, "出品画像"
            = image.file_field :url, multiple: false, class: "js-file", name: "product[product_images_attributes][0][url]"
            %br
            %span.js-remove 
              消去
      =f.label :name, "商品名"
      =f.text_field :name, placeholder: "商品名", autofocus: 'true'
      %br
      =f.label :description, "商品の説明"
      =f.text_area :description, placeholder: "商品の説明", autofocus: 'true'
      %br
      .product-detail-info
        .product-detail-info__category
          =f.label :category, "カテゴリー", class: 'label'
          %span.attention 必須
          .category-select-wrapper
            .category-select-wrapper__box
              =f.select(:category, @category_parents, {}, class: 'category-select-wrapper__box__select', id: 'parent_category')
              %i.fas.fa-chevron-down.category-select-wrapper__box--arrow-signal
      %br
      =f.label :product_condition, "商品の状態"
      =f.collection_select(:product_condition_id, ProductCondition.all, :id, :product_condition, prompt: "選択して下さい")
      %br
      .derivery-detail-info
        .derivery-detail-info__wrapper
          =f.label :derivery_fee_payer, "配送料の負担", class: 'label'
          %span.attention 必須
          =f.collection_select(:derivery_fee_payer_id, DeriveryFeePayer.all, :id, :derivery_fee_payer, prompt: "選択して下さい")
          %br
          =f.label :derivery_method, "発送方法"
          =f.collection_select(:derivery_method_id, DeriveryMethod.all, :id, :method, prompt: "選択して下さい")
          %br
          =f.label :ship_from_location, "発送元の地域"
          =f.collection_select(:ship_from_location_id, ShipFromLocation.all, :id, :name, prompt: "選択して下さい")
          %br
          =f.label :derivery_day, "発送までの日数"
          =f.collection_select(:derivery_day_id, DeriveryDay.all, :id, :derivery_day, prompt: "選択して下さい")
      %br

      =f.label :price, "販売価格"
      =f.number_field :price, autofocus: 'true'
      %br
      =f.hidden_field :product_status_id, :value => 1
      =f.submit '出品する'


